@import url('fonts.css');
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;500;600;700&display=swap");
@import url("vendors/nav.css");

html, body, * {
    /*font: 400 12px/13px Google Sans Text, monospace;*/
    font-family: "Public Sans", "Poppins", sans-serif;
    letter-spacing: normal;
    font-size: 12px;
}

/****
    scrollbar
****/
::-webkit-scrollbar {
  width: 10px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  background: rgba(28, 62, 126, 0.5);
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background: #1c3e7e;
}

::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 7px;
}

main {
    overflow: hidden;
}

.content-prot {
    padding: 5px;
}

.prot-table {
    max-height: calc(100vh - 10px);
    width: 100%;
    margin: 0 auto;
    box-shadow: 0px 0px 22px -14px rgb(0 0 0 / 50%);
    border: 1px solid #dee2e6;
}

tbody, td, tfoot, th, thead, tr {
    border-color: #dee2e6;
    border-style: solid;
    border-width: 0;
    transition: 0.4s;
    vertical-align: middle;
}

.prot-table table th {
    white-space: nowrap;
    background-color: #0054a6;
    color: #fff;
}

.table-hover > tbody > tr:hover > * {
    background-color: #bbf5d8;
    transition: 0.4s;
}

.prot-table table tr td .wrap-solicitacao {
    height: 3em;
    overflow: hidden;
    min-width: 200px;
    cursor: pointer;
    background-color: transparent;
}

.prot-table table tr td .wrap-solicitacao.expand {
    height: auto;
}

.prot-table table tr td i.bi {
    font-size: 16px;

}