@import url('fonts.css');
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

* {
    /*font: 400 12px/13px Google Sans Text, monospace;*/
    font-family: "Poppins", sans-serif;
    letter-spacing: normal;
    font-size: 12px;
}

main {
    overflow: hidden;
}

.content-prot {
    padding: 10px;
}

.prot-table {
    border-radius: 8px;
    height: calc(100vh - 20px);
    width: 100%;
    margin: 0 auto;
    box-shadow: 0px 0px 22px -14px rgb(0 0 0 / 50%);
    border: 1px solid #dee2e6;
}

.prot-table table th {
    white-space: nowrap;
}

.prot-table table tr td .wrap-solicitacao {
    height: 3em;
    overflow: hidden;
    min-width: 200px;
}